%p
.card-header.text-center.bg-green-caribbean.rounded
  %h4.text-light
    .fa.fa-info-circle
    About us
.card-body
  %h5.card-title
  %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
  = link_to "Go to all schools", root_path, class: "btn btn-primary"
