.footer.mt-4
  .border-top.border-info
    .container
      .row
        .col-lg-4
          .fa.fa-info-circle
          This website has been developed for the purpose of advertisement only
          .row
          .fa.fa-copyright
          Copyright reserved for WIPAHS
        .col-lg-4
          .fa.fa-question-circle
          For any type of enquiries please visit our
          = link_to "website", "https://www.wipahs.co.tz"
        .col-lg-4
