.navbar.navbar-expand-lg.justify-content-end.bg-info.sticky-top
  .nav-item.mr-auto
    .nav-link.active
      = link_to root_path, class: "text-light" do
        .fa.fa-home
        Waliul Asr Education Centre
  .nav-item
    .nav-link.active.text-light
      .fa.fa-phone
      05575859
  .nav-item
    .nav-link.active
      = link_to "http://www.wipahs.co.tz", class: "text-light" do
        .fa.fa-globe-africa
        WIPAHS
  .nav-item
    .nav-link
      = link_to about_path, class: "text-light" do
        .fa.fa-info-circle
        About us
  .nav-item
    .nav-link
      .badge.badge-pill.badge-primary
        = @current_date
