%ul.nav.justify-content-end.bg-info
  %li.nav-item
    .nav-link.active.text-light +255 621 429 242
  %li.nav-item
    %a.nav-link{:href => "#"} Link
  %li.nav-item
    %a.nav-link{:href => "#"} Link
  %li.nav-item
    %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"}Disabled
